body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.pedido-container {
  text-align: center;
  width: 80%; /* Ajuste a largura conforme necessário */
}

h1 {
  font-family: Arial, sans-serif;
  color: #ff7f00; /* Laranja */
}

form {
  text-align: left;
}

/* Inputs arredondados */
input[type="text"],
input[type="number"],
input[type="radio"],
input[type="submit"],
select {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  border-color: #ff7f00; /* Laranja */
}

/* Botão de envio */
.enviar-pedido {
  background-color: #ff7f00; /* Laranja */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enviar-pedido:hover {
  background-color: #e65c00; /* Laranja mais escuro */
}
