/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
  body {
    font-family: 'Roboto', sans-serif; /* Fonte mais moderna */
    background-color: #121212; /* Fundo mais escuro */
    color: #fff; /* Cor do texto */
    margin: 0;
    padding: 0;
  }

  .pedido-container {
    text-align: center;
    padding: 20px;
  }

  h1 {
    color: #ff7f00; /* Laranja para o título */
    font-size: 24px;
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="number"],
  select {
    border: 2px solid #ff7f00; /* Borda laranja */
    border-radius: 8px;
    padding: 14px;
    width: calc(100% - 28px);
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #1f1f1f; /* Fundo mais escuro para os campos */
    color: #fff; /* Cor do texto */
  }

  input[type="text"]:focus,
  input[type="number"]:focus,
  select:focus {
    outline: none;
    border-color: #ffa94d; /* Laranja mais claro quando em foco */
  }

  .enviar-pedido {
    background-color: #ff7f00; /* Laranja para o botão */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 16px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 18px;
  }

  .enviar-pedido:hover {
    background-color: #e65c00; /* Laranja mais escuro ao passar o mouse */
  }
}
